# files that br add after running autoreconf -vfi

Makefile.in
aclocal.m4
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltversion.m4
missing
autom4te.cache/
config.h.in~
